# temp matlab files
*.asv
*.m~
*~

# debug logs
logs/debug/*.log

# other stuff that may appear
*.gif
*.psd
old*

# data files
*.edf
data
logs

# macos config files
.DS_Store
*/.DS_Store

# old scirpts we keep for reference just for us
curE_EEG_99*
curE_ET_99*

# Figures
Figures/*
